<h1><%= @place["name"] %></h1>

<p>
  <a class="btn btn-primary" href="/entries/new?place_id=<%= @place["id"] %>">New Entry</a>
</p>

<div class="row">
<% for entry in @entries %>
<div class="col-sm-6 col-md-3">
  <h2><%= entry["title"] %></h2>
  <h3 style="font-size: 14px;"><%= entry["occurred_on"] %></h3>
<% if entry.uploaded_image.attached? %>
  <img src="<%= url_for(entry.uploaded_image) %>" class="img-fluid">
<% else %>
  <img src="<%= entry["image"] %>" class="img-fluid">
<% end %>
  <p style="font-size: 18px;"><%= entry["description"] %></p>
</div>
<% end %>
<p>
  <a class="btn btn-primary" href="/places">Back to All Places</a>
</p>